node_modules/
generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
.spago
.psc-ide-port
*.code-workspace
.psci_modules
.vscode/
.direnv/
# Dependencies
.psci_modules
bower_components

# Dot files
.spago
.psci
.pulp-cache
.purs-repl
.psc-ide-port
.cache
.direnv
.DS_Store

# IDE files
*.code-workspace
.vscode

# Generated
output
dce-output
*.lock
*.map
